table, tr, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
table {
    margin-top: 2ch;
}
td {
    padding: 1ch;
}

.stock {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 4px;
}

.stock > input[type="text"] {
    width: 3ch;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #cccccc10;
}

td:last-child {
    text-align: right;
}

.editform {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

.pricesetter > input {
    width: 7ch;
    text-align: right;
}

.pricesetter {
    display: flex;
    flex-direction: row;
}

.editform > div {
    display: flex;
    flex-direction: column;
}

.editform input, .editform textarea {
    background-color: #cccccc20;
}

textarea {
    padding: 1ch;
}

.editform input[type="file"] {
    font-size: 0.5rem;
}

.removebutton {
    color: rgb(208, 0, 52);
}

.removeform {
    display: flex;
    flex-direction: row-reverse;
}