/* @import url("./default.css"); */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.photo-area {
	display: flex;
	box-sizing: border-box;
	height:   calc(var(--polaroid-size) * 0.734231);
	width:    calc(var(--polaroid-size) * 0.714387);
	transform:  rotate(var(--rotation));

	margin: 0;
	flex-shrink: 0;
	
	align-content: center;
	justify-content: center;
	background: var(--polaroid-background);
}
/* Size source : */
/* https://support.polaroid.com/hc/en-us/articles/115012363647-What-are-Polaroid-photo-dimensions */

.polaroid {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	height: var(--polaroid-size);
	width: calc(var(--polaroid-size) * 0.823057);
	transform:  rotate(var(--rotation));

	padding: calc(var(--polaroid-size) * 0.054217);
	margin: 0.25em 0.25em;

	break-inside: avoid;
	background: var(--paper-color, white); 
	filter: sepia(var(--polaroid-sepia));
}
.polaroid > figcaption {
	flex-grow: 1;

	font-family: 'Caveat', cursive;
	font-size: 1.7rem;

	text-align-last: center;
	overflow: hidden;
}

.polaroid > .photo-area > img {
	max-width:  100%;
  max-height: 100%;
	object-fit: scale-down;
}
