.padd { height: 25em; }
.reel {
	display: flex;
	margin-top: 1em;

}	
.reel > .img {
	display: flex;
	position: relative;
	width: 5em;
	height: 5em;
}

.img img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.reel-select { visibility: collapse; }
/* Checked behavior */
.reel-select:checked + .img { 
	position: fixed; 
	top: 0%;
	left: 50%;
	scale: 5;
	translate: calc(-150% + (50% * 2)) calc(-50% + (50% * 5));
}
