@import url("../math/random.css");


:root {
	--background: #000000;
	--page-foreground: white;
	--page-background: #181818;
	--content-foreground: #ffffff;
	--content-background: #181818;

	--polaroid-size: 10.752cm;
	--polaroid-sepia: 30%;
	--polaroid-background: #272727;
	--paper-color: #FAFCDE;
}

body {
	background: var(--background);
	margin: 0;
}


.galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.photo-area {
	box-sizing: border-box;
	height:   calc(var(--polaroid-size) * 0.734231);
	width:    calc(var(--polaroid-size) * 0.714387);
	transform:  rotate(calc((var(--random-0-1, 0) - 0.5) * 2.5deg));

	margin: 0;
	flex-shrink: 0;

	align-content: center;
	background: var(--polaroid-background);
}
/* Size source : */
/* https://support.polaroid.com/hc/en-us/articles/115012363647-What-are-Polaroid-photo-dimensions */

.polaroid {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	height: var(--polaroid-size);
	width: calc(var(--polaroid-size) * 0.823057);
	transform:  rotate(calc((var(--random-0-1, 0) - 0.5) * 2.5deg));

	padding: calc(var(--polaroid-size) * 0.054217);
	margin: 0.25em 0.25em;

	break-inside: avoid;
	background: var(--paper-color, white); 
	filter: sepia(var(--polaroid-sepia));
}
.polaroid > figcaption {
	flex-grow: 1;

	font-family: 'Caveat', cursive;
	font-size: 1.7rem;

	text-align-last: center;
	overflow: hidden;
}

.polaroid > .photo-area > img {
	max-width:  100%;
  max-height: 100%;
	object-fit: scale-down;
}
