<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="polaroid.css">
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>
<body>
	<!-- <header id="main-header" > -->
	<!-- </header> -->
	<div class="galery">
		<!-- Start of Page header-->
		<!-- Start of Page Content -->

		<figure class="polaroid">
			<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
			<figcaption>Example Image 1</figcaption>
		</figure>

		<figure class="polaroid">
			<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
			<figcaption>Example Image 2</figcaption>
		</figure>

		<figure class="polaroid">
			<div class="photo-area"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBMV6jOfk5_75cRkdk8UVjirMz6ilwlx5mVA&s" alt="Red Foxes - NWF | Ranger Rick"> </div>
			<figcaption> Example Image 2
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </figcaption>
		</figure>
	</div>
</body>
</html> 
