:root {
	--m: 2147483648;
	--depth-x: 1;
	--depth-y: 0;
}

body,
body > * > *,
body > * > * > * > * ,
body > * > * > * > * > * > * ,
body > * > * > * > * > * > * > * > *,
body > * > * > * > * > * > * > * > * > * > *
{
	--depth-y: calc((var(--depth-x) + 1) * (var(--index) + 1));
	--depth: calc(max(var(--depth-y), var(--depth-x)));

	--random: mod(calc(1103515245 * var(--depth) + 12345), var(--m));
	--random-0-1: sin(var(--random));
}

body > *,
body > * > * > *,
body > * > * > * > * > * ,
body > * > * > * > * > * > * > *,
body > * > * > * > * > * > * > * > * > *,
body > * > * > * > * > * > * > * > * > * > * > *
{
	--depth-x: calc((var(--depth-y) + 1) * (var(--index) + 1));
	--depth: calc(max(var(--depth-y), var(--depth-x)));

	--random: mod(calc(1103515245 * var(--depth) + 12345), var(--m));
	--random-0-1: sin(var(--random));
}

*:nth-child(27n+1) { --index: 1; }
*:nth-child(27n+2) { --index: 2; }
*:nth-child(27n+3) { --index: 3; }
*:nth-child(27n+4) { --index: 4; }
*:nth-child(27n+5) { --index: 5; }
*:nth-child(27n+6) { --index: 6; }
*:nth-child(27n+7) { --index: 7; }
*:nth-child(27n+8) { --index: 8; }
*:nth-child(27n+9) { --index: 9; }
*:nth-child(27n+10) { --index: 10; }
*:nth-child(27n+11) { --index: 11; }
*:nth-child(27n+12) { --index: 12; }
*:nth-child(27n+13) { --index: 13; }
*:nth-child(27n+14) { --index: 14; }
*:nth-child(27n+15) { --index: 15; }
*:nth-child(27n+16) { --index: 16; }
*:nth-child(27n+17) { --index: 17; }
*:nth-child(27n+18) { --index: 18; }
*:nth-child(27n+19) { --index: 19; }
*:nth-child(27n+20) { --index: 20; }
*:nth-child(27n+21) { --index: 21; }
*:nth-child(27n+22) { --index: 22; }
*:nth-child(27n+23) { --index: 23; }
*:nth-child(27n+24) { --index: 24; }
*:nth-child(27n+25) { --index: 25; }
*:nth-child(27n+26) { --index: 26; }
*:nth-child(27n+27) { --index: 27; }
