<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="image_reel.css">
</head>
<body>
	HELLO WORLD
<!-- ┌──────────┐ -->
<!-- │┌───┐     │ -->
<!-- ││   │ %¤%"│ -->
<!-- │└───┘ $%@?│ -->
<!-- │□□□□□     │ -->
<!-- │          │ -->
<!-- └──────────┘ -->
	<div class="frame"></div>
	<div class="reel">
		<div class="radio-container">
			<input type="radio" name="reel-select" id="opt1" class="reel-select" checked>
			<label for="opt1" class="entry">
				<div class="example_image">A</div>
			</label> </div>
		<div class="radio-container">
			<input type="radio" name="reel-select" id="opt2" class="reel-select">
			<label for="opt2" class="entry">
				<div class="example_image">B</div>
			</label> </div>
		<div class="radio-container">
			<input type="radio" name="reel-select" id="opt3" class="reel-select">
			<label for="opt3" class="entry">
			<div class="example_image">C</div>
			</label> </div>
	</div>
</body>
</html> 
