<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="image_browse.css">
	<link rel="stylesheet" href="../polaroid/polaroid.css">
</head>
<body>
	<label for="opt0" class="images">
	<!-- Images Start -->
		<input type="radio" name="image-browse" id="opt0" class="image-browse" checked>
		<label for="opt0" class="images"> </label>
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 0</figcaption>
			</figure>
		<input type="radio" name="image-browse" id="opt1" class="image-browse">
		<label for="opt1" class="images"> </label>
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 1</figcaption>
			</figure>
		<input type="radio" name="image-browse" id="opt2" class="image-browse">
		<label for="opt2" class="images"> </label>
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 1</figcaption>
			</figure>
	<!-- Images End -->
	</label>
</body>
</html> 
