<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="image_reel.css">
	<link rel="stylesheet" href="../polaroid/polaroid.css">
</head>
<body>
	<div class="frame">
	<h1 id="product-title">\ </h1>
	<div id="product-image"></div>
	<div id="product-desc"></div>
	</div>
	<div class="reel">
		
		<input type="radio" name="reel-select" id="opt0" class="reel-select" checked>
		<h1 class="title">0 title </h1>
		<label for="opt0" class="images">
		<!-- Images Start -->
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 0</figcaption>
			</figure>
		<!-- Images End -->
		</label>
		<p class="desc">0 desc</p>

		<input type="radio" name="reel-select" id="opt1" class="reel-select">
		<h1 class="title">1 title </h1>
		<label for="opt1" class="images">
		<!-- Images Start -->
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 1</figcaption>
			</figure>
		<!-- Images End -->
		</label>
		<p class="desc">1 desc</p>

		<input type="radio" name="reel-select" id="opt2" class="reel-select">
		<h1 class="title">2 title </h1>
		<label for="opt2" class="images">
		<!-- Images Start -->
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 2</figcaption>
			</figure>
		<!-- Images End -->
		</label>
		<p class="desc">2 desc</p>

		<input type="radio" name="reel-select" id="opt3" class="reel-select">
		<h1 class="title">3 title </h1>
		<label for="opt3" class="images">
		<!-- Images Start -->
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 3</figcaption>
			</figure>
		<!-- Images End -->
		</label>

		<p class="desc">4 desc</p>
		<input type="radio" name="reel-select" id="opt4" class="reel-select">
		<h1 class="title">4 title </h1>
		<label for="opt4" class="images">
		<!-- Images Start -->
			<figure class="polaroid">
				<div class="photo-area"> <img src="https://wwfint.awsassets.panda.org/img/arctic_fox2_1_364547.jpg" alt="Arctic fox | WWF"> </div>
				<figcaption>Example Image 4</figcaption>
			</figure>
		<!-- Images End -->
		</label>
		<p class="desc">4 desc</p>
	</div>
</body>
</html> 
