<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="image_reel.css">
</head>
<body>
	<div class="frame">
	<h1 id="product-title">\ </h1>
	<div id="product-image"></div>
	<div id="product-desc"></div>
	</div>
	<div class="reel">
		
		<input type="radio" name="reel-select" id="opt0" class="reel-select" checked>
		<h1 class="title">0 title </h1>
		<label for="opt0" class="images">
			<div class="example_image">0</div>
		</label>
		<p class="desc">0 desc</p>

		<input type="radio" name="reel-select" id="opt1" class="reel-select">
		<h1 class="title">1 title </h1>
		<label for="opt1" class="images">
			<div class="example_image">1</div>
		</label>
		<p class="desc">1 desc</p>

		<input type="radio" name="reel-select" id="opt2" class="reel-select">
		<h1 class="title">2 title </h1>
		<label for="opt2" class="images">
			<div class="example_image">2</div>
		</label>
		<p class="desc">2 desc</p>

	</div>
</body>
</html> 
